
body {
    display: flex;
}
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4a90e2; 
  }
  
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #cdd8e1; 
    border-radius: 4px;
    font-size: 14px;
    background-color: #edf4fa; 
    color: #4a90e2; 
    cursor: pointer;
  }
  
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cdd8e1;
    border-radius: 4px;
    font-size: 14px;
    background-color: #edf4fa;
    color: #4a90e2;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}

.input-file-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    width: calc(100% - 30px); 
    padding-right: 10px;
}

.input-file-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

input[type="file"]:focus + .input-file-button {
    outline: none;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}
