 body {
  display: flex;
  background-color: #ffffff; /* Color de fondo para el entorno 3D */
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial, sans-serif; /* Fuente global */
  height: 100vh;
  width: 100vw;
}
canvas{
  height: 100%;
  width: 100%;
}
section {
  padding: 0px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  margin: 0px;
  background-color: #e6f0ff;
  border-left:  0px;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: calc(0.3em + 0.9vw + 0.9vh);
  margin-bottom: 0px;
  color: #333333;
  text-align: center;
  background-color: #e6f0ff;
  border-bottom:  2px solid black;
  padding: 10px;
  margin-top: 0px;
  word-break: break-word;
}

h2 {
  font-size: 18.72px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 0px solid #4a90e2;
  padding-bottom: 10px;
  color: #333333;
  text-align: center;
  
  background-color: #e6f0ff;
}

h3{
  margin-top: 0px;
  text-align: center;
}
p{
  color: #333333;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  color: #333333; 
  background-color: #e6f0ff;
}

#primeraSeccion{
  display: flex;
  background-color: #e6f0ff;
  padding: 10px;
  flex-direction: column;
  color: #333333;
}

select{
  width: 100px;
  font-weight: bold;
}

select, input[type="file"] {
  padding: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: 1px solid #e6f0ff; 
  border-radius: 4px;
  font-size: 14px;
  background-color: #4a90e2;
  color: white; 
  cursor: pointer;
}


a#downloadLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

#infoDisplay {
  background-color: #e6f0ff;
  padding: 10px;
  margin-top: 0px;
  border-top: 2px solid black;
}


.color-scale {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f0ff;
  margin-bottom: 15px;
  padding: 10px;
  border-top: 2px solid black; 
}

.color-gradient-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-gradient-vertical {
  width: 90px; /* Ancho de la barra */
  height: 300px; /* Altura de la barra */
  background: linear-gradient(
    to bottom,
    #ff0000,  
    #ff6600,
    #ffff00,  
    #00ffff,   
    #00ccff,
    #0066ff,
    #0033ff,  
    #000000    
  );
  border: 1px solid #000; /* Borde alrededor de la barra */
}

.scale-values-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; /* Altura de los valores, igual a la de la barra */
  font-weight: bold;
  color: #000;
  margin-left: 10px; /* Espacio entre la barra y los valores */
}

.scale-values-vertical span {
  text-align: left; /* Alinear el texto a la izquierda */
}


